[submodule "emacs.d/emacs-for-python"]
	path = emacs.d/emacs-for-python
	url = git://github.com/gabrielelanaro/emacs-for-python.git
[submodule "emacs.d/pylookup"]
	path = emacs.d/pylookup
	url = git://github.com/tsgates/pylookup.git
[submodule "emacs.d/magit"]
	path = emacs.d/magit
	url = git://github.com/magit/magit.git
